<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
		<title>ElGamal Crypto Problem</title>
	</head>
	<body>
		<pre>問題: <%= desc %></pre>
		<form id="guessform" method="POST">
			<input name="guess" type="text" placeholder="0123456789">
			<button type="submit">推測</button>
		</form>
		<pre> <%= result %> </pre>
	</body>
</html>
